@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=Outfit:wght@100..900&display=swap');

/* FONTS */
.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .chau-philomene-one-regular {
    font-family: "Chau Philomene One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .chau-philomene-one-regular-italic {
    font-family: "Chau Philomene One", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

/* RESET STYLES */
* {
    border: 0;
    margin: 0;
    padding: 0;
}

:root {
    /* VARIABLES */
    --red: hsl(11, 50%, 44%);
    --blue: hsl(138, 26%, 75%);
    --green: hsl(97, 24%, 50%);
    --yellow: hsl(41, 60%, 56%);
    --light-yellow: hsl(54, 87%, 88%);
    --dark-red: hsl(0, 100%, 11%);
    --purple: hsl(261, 24%, 52%);

    font-size: 16px;
}

body {
    background-color: var(--blue);
    color: var(--dark-red);
}

.wrapper {
    background-color: var(--blue);
    padding: 3%;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    background-color: var(--red);
    border-radius: 5px;
    padding: 2%;
}

h1 {
    font-size: 1.9rem;
}

header img {
    width: 10%;
    height: auto;
    margin-right: 3%;
}

header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--dark-red);
    width: 100%;
}

/* DROPDOWN NAVIGATION */
.margin-top {
    margin-top: 2%;
}

.dropbtn {
    background-color: var(--green);
    color: var(--dark-red);
    padding: 1%;
    font-size: 1.9rem;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin-top: 5%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--green);
    width: 92%;
    z-index: 1;
    border-radius: 5px;
    margin-top: 1%;
    padding: 1%;
    animation: fadeIn 0.4s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

nav div a p {
    border-bottom: 2px solid var(--light-yellow);
    padding: 2%;
}

.no-border {
    border: none;
}

.show {
    display: block;
}

.dropdown-content a {
    color: var(--dark-red);
    padding: 2%;
    text-decoration: none;
    display: block;
    font-size: 1.3rem;
}

/* MAIN */
h2 {
    font-size: 1.9rem;
    margin-bottom: 4%;
}

h4 {
    font-size: 1.5rem;
    padding: 2%;
}

#difficulty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-self: center;
    border-bottom: 3px solid var(--green);
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    width: 100%;
}

a {
    color: var(--dark-red);
    text-decoration: none;
}

main ul {
    list-style-type: none;
}

main p {
    background-color: var(--green);
    padding: 1.5%;
    border-radius: 5px;
}

main h2 {
    margin-bottom: 0%;
    margin-top: 15%;
}

.yellow {
    border-top: 3px solid var(--yellow);
}

.red {
    border-top: 3px solid var(--red);
}

.green {
    border-top: 3px solid var(--green);
}

.purple {
    border-top: 3px solid var(--purple);
}

h3 {
    font-size: 1.5rem;
}

.recipe-holder-dinner {
    display: flex;
    padding: 2%;
    background-color: var(--yellow);
    border-radius: 10px;
    margin-top: 4%;
    box-shadow: 5px 5px 5px #9e8c5bb4;
    transition-duration: 0.4s;
}

.recipe-holder-dinner:hover {
    transform: scale(1.04);
}

.recipe-holder-lunch {
    display: flex;
    padding: 2%;
    background-color: var(--red);
    border-radius: 10px;
    margin-top: 4%;
    box-shadow: 5px 5px 5px #9e635bb4;
    transition-duration: 0.4s;
}

.recipe-holder-lunch:hover {
    transform: scale(1.04);
}

.recipe-holder-breakfast {
    display: flex;
    padding: 2%;
    background-color: var(--green);
    border-radius: 10px;
    margin-top: 4%;
    box-shadow: 5px 5px 5px #87b16bb4;
    transition-duration: 0.4s;
}

.recipe-holder-breakfast:hover {
    transform: scale(1.04);
}

.recipe-holder-dessert {
    display: flex;
    padding: 2%;
    background-color: var(--purple);
    border-radius: 10px;
    margin-top: 4%;
    box-shadow: 5px 5px 5px #706bb1b4;
    transition-duration: 0.4s;
}

.recipe-holder-dessert:hover {
    transform: scale(1.04);
}

.recipe-profile {
    width: 20%;
    height: 20%;
}

.stars {
    width: 42px;
}

.info {
    align-self: center;
    margin-left: 2%;
}

main div a {
    text-decoration: none;
    color: var(--dark-red);
}

/* SEARCHBARS */
.search {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1%;
    border-radius: 30px;
    background-color: var(--yellow);
    transition: background 0.25s;
    margin: 4% 0%;
}

.search2 {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1%;
    border-radius: 30px;
    background-color: var(--red);
    transition: background 0.25s;
    margin-bottom: 2%;
}

.search3 {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1%;
    border-radius: 30px;
    background-color: var(--green);
    transition: background 0.25s;
    margin-bottom: 2%;
}

.search4 {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1%;
    border-radius: 30px;
    background-color: var(--purple);
    transition: background 0.25s;
    margin-bottom: 2%;
}

.search:focus-within {
    background-color: var(--light-yellow);
}

.search2:focus-within {
    background-color: var(--light-yellow);
}

.search3:focus-within {
    background-color: var(--light-yellow);
}

.search4:focus-within {
    background-color: var(--light-yellow);
}

.search-input {
    width: 100%;
    font-size: 1.2rem;
    color: var(--dark-red);
    padding: 1%;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: transparent;
}

.search-input::placeholder {
    color: var(--dark-red); 
}

form {
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    background-color: var(--red);
    padding: 10%;
    font-size: 1.3rem;
}

footer a {
    text-decoration: none;
    color: var(--dark-red);
    width: 100%;
    text-align: center;
}