@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=Outfit:wght@100..900&display=swap');

/* FONTS */
.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .chau-philomene-one-regular {
    font-family: "Chau Philomene One", sans-serif;
    font-weight: 450;
    font-style: normal;
  }
  
  .chau-philomene-one-regular-italic {
    font-family: "Chau Philomene One", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

/* RESET STYLES */
* {
    border: 0;
    margin: 0;
    padding: 0;
}

:root {
    /* VARIABLES */
    --red: hsl(11, 50%, 44%);
    --blue: hsl(138, 26%, 75%);
    --green: hsl(97, 24%, 50%);
    --yellow: hsl(41, 60%, 56%);
    --light-yellow: hsl(54, 87%, 88%);
    --dark-red: hsl(0, 100%, 11%);
    --purple: hsl(261, 24%, 52%);

    font-size: 16px;
}

body {
    background-color: var(--blue);
    color: var(--dark-red);
}

.wrapper {
    background-color: var(--blue);
    padding: 3%;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    background-color: var(--red);
    border-radius: 5px;
    padding: 2%;
}

h1 {
    font-size: 1.9rem;
}

header img {
    width: 10%;
    height: auto;
    margin-right: 3%;
}

header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--dark-red);
    width: 100%;
}

/* MAIN */
main {
    margin-top: 3%;
}

main img {
    width: 100%;
    border-radius: 5px;
}

h2 {
    margin-top: 2%;
    font-size: 1.9rem;
    text-align: center;
}

.green {
    border-top: 3px solid var(--green);
}

.ingredients {
    margin-top: 6%;
    background-color: var(--yellow);
    padding: 2%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #9e8c5bb4;
}

.instructions {
    margin-top: 6%;
    background-color: var(--red);
    padding: 3% 3% 5% 3%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #9e635bb4;
}

main section ul {
    padding: 5% 7% 5% 10%;
}

.less-margin {
    margin-top: -4%;
}

main ul li a {
    color: var(--red)
}

main section ol {
    margin-top: 2%;
    padding: 0.5% 7% 5% 10%;
    background-color: var(--light-yellow);
    border-radius: 5px;
    line-height: 37px;
}

main section ul li {
    margin-top: 5%;
    font-size: 1.25rem;
    border-bottom: 2px solid #f5dfa2;
    width: 100%;
}

main section ol li {
    margin-top: 5%;
    font-size: 1.25rem;
    width: 100%;
    border-bottom: 2px solid var(--red);
}

h3 {
    font-size: 1.7rem;
}

.pull-up {
    margin-bottom: -5%;
}

.notes {
    background-color: var(--green);
    margin-top: 5%;
    border-radius: 10px;
    padding: 3%;
    box-shadow: 5px 5px 5px #87b16bb4;
    
}

main section p {
    font-size: 1.1rem;
    line-height: 30px;
    margin: 2% 0% 4% 0%;
    border: 3px solid hsl(97, 58%, 79%); 
    border-radius: 5px;
    padding: 2%;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    background-color: var(--purple);
    padding: 10%;
    font-size: 1.3rem;
}

footer a {
    text-decoration: none;
    color: var(--dark-red);
}